<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/inicio">Chatbot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto" *ngIf="islogin()">
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link" href="/menuadmin">Administración</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progreso">Progreso Academico</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
          </li>
          <li *ngIf="islogin()" (click)="logOut()" class="nav-item">
            <a class="nav-link" href="/">Salir</a>
        </li>
      </ul>
  </div>
  </nav>