<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title h3">
              Nuevo feriado           
            </div>
            <div class="container">
              <div class="d-flex justify-content-center">
                <div class="col-5">
                    <form [formGroup]="profileForm" (ngSubmit)="addFeriado()" class="mt-1">
                    <label>Fecha*</label>
                    <input formControlName="fecha" type="date" class="form-control">
                    <label>Motívo*</label>
                    <textarea formControlName="motivo" class="form-control rounded-0" rows="2"></textarea>
                    <div class="form-group mt-3">
                    <button type="button" class="btn btn-primary float-left" routerLink="/feriados" > Cancelar</button> 
                    <button class=" btn btn-primary float-right" type="submit" [disabled]="!profileForm.valid"> Guardar</button>
                    </div>
                  </form>
                
              </div>
            </div>
            
            
  
          </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  