


<div>
    <div class="container mt-5">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm">
            <div *ngIf="!editandoPerfil&&!cambiandoContrasenia" >
                <div class="card bg-light mb-3" >
                    <div class="card-header h4">Datos Personales
                        <button class="btn btn-danger float-right mr-2" (click)="eliminarUsuario()">Eliminar Cuenta </button>
                        <button class="btn btn-warning float-right mr-2" (click)="habilitarCambiarContrasenia()">Cambiar Contraseña</button>
                        <button class="btn btn-primary float-right mr-2" (click)="habilitarEditarPerfil()">Editar Perfil</button>
                    </div>
                    
                    <div class="card-body">
                      <p class="card-text">Cédula: {{cedula}}</p>
                      <p class="card-text">Nombre: {{nombre}}</p>
                      <p class="card-text">Apellido: {{apellido}}</p>
                    </div>
                  </div>
            </div>
        
            <div *ngIf="editandoPerfil" >
                <div class="card bg-light mb-3" >
                    <div class="card-header h4">Edita tu perfil:</div>
                    
                        <div class="container m-2">
                            <div class="d-flex justify-content-center">
                                
                                <div class="col-5">
                                    <form [formGroup]="profileForm" (ngSubmit)="editar()" class="mt-1">
                                        <div class="form-group">
                                        <label>Cédula:
                                            <!--<input  class="form-control" [(ngModel)]="cedula" value={{cedula}}/>-->
                                            <input type="number" class="form-control" formControlName="cedula" placeholder={{cedula}}>
                                        </label>
                                        </div>
                                        <div class="form-group">
                                        <label>Nombre:
                                            <input type="text" class="form-control" formControlName="nombre" placeholder={{nombre}}>
                                        </label></div>
                                        <div class="form-group">

                                        <label>Apellido:
                                            <input type="text" class="form-control" formControlName="apellido" placeholder={{apellido}}>
                                        </label><br>
                                        
                                        </div>  
                                    
                                    <button type="button" class="btn btn-primary mt-2" (click)="habilitarEditarPerfil()">Cancelar</button>
                                    <button class="btn btn-primary ml-2 mt-2" type="submit" [disabled]="!profileForm.valid">Confirmar</button>
                                    </form>
                               
                                 </div>
                        </div>
                            
                        </div>  
                    </div>
            </div>
        
            <div *ngIf="cambiandoContrasenia" >
                <div class="d-flex justify-content-center">
                <div class="card bg-light mb-3" >
                    <div class="card-header h4">Cambiar Contraseña:</div>
                    <form [formGroup]="passwdForm" (ngSubmit)="cambiarContrasenia()" class="mt-1">
                        <div class="card-body m-2">
                            <label>Actual:
                                <input type="password" class="form-control" formControlName="actual" placeholder="contraseña actual">
                            </label><br>
                            <label>Nueva:
                                <input type="password" class="form-control" formControlName="nueva" placeholder="contraseña nueva">
                            </label><br>
                            <label>Confirmar:
                                <input type="password" class="form-control" formControlName="confirmar" placeholder="repetir contraseña nueva">
                            </label><br>
                            <div *ngIf="noCoinciden" >
                                <p class="text-danger">Las contraseñas no coinciden</p>
                            </div>
                            <button type="button" class="btn btn-primary mr-5 mt-2" (click)="habilitarCambiarContrasenia()">Cancelar</button>
                            <button class="btn btn-primary ml-2 mt-2" type="submit" [disabled]="!passwdForm.valid">Confirmar</button>
                        </div>
                    </form>
                    </div> 
                </div> 
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    
</div>