<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title h3">
              Agregar Horario            
            </div>
            <div class="container">
              <div class="d-flex justify-content-center">
                <div class="col">
                    <form [formGroup]="profileForm" (ngSubmit)="addHorario()" class="mt-1">
                      <label>Semetre:</label>
                      <select formControlName="semestre" class="mb-2 form-control custom-select">
                        <option value="1">Primer</option>
                        <option value="2">Segundo</option>
                        <option value="3">Tercer</option>
                        <option value="4">Cuarto</option>
                        <option value="5">Quinto</option>
                        <option value="6">Sexto</option>
                      </select>
                    
                    <label>Dia:</label>
                    <select formControlName="dia" class="mb-2 form-control custom-select">
                      <option value="Lunes">Lunes</option>
                      <option value="Martes">Martes</option>
                      <option value="Miércoles">Miércoles</option>
                      <option value="Jueves">Jueves</option>
                      <option value="Viernes">Viernes</option>
                    </select>
                    <br>
                    <label>Hora desde:</label>

                    <input formControlName="horaDesde" class="form-control" type="number"  placeholder="Desde" ><br>
                    <label>Hora hasta:</label>

                    <input formControlName="horaHasta" class="form-control" type="number" placeholder="Hasta"><br> 
        
                    <br>
                    <button type="button" class="btn btn-primary float-left" (click)="cancelar()" > Cancelar</button> 

                    <button class=" btn btn-primary float-right" type="submit" [disabled]="!profileForm.valid"> Guardar</button> 
                  </form>
                
              </div>
            </div>
            
            
  
          </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  
  
  