<body class="text-center center">
  
  <form [formGroup]="profileForm" (ngSubmit)="login()" class="mt-1">
    <h2 class="mb-3 font-weight-normal">Por favor Inicia Sesion</h2> 
    <label>
      Cedula:
      <input type="number" formControlName="cedula" placeholder="Insertar Cedula" minlength="8">
    </label>
    <br>
    <label>
      Contraseña
      <input type="password"formControlName="password" placeholder="Insertar Contraseña">
    </label>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!profileForm.valid">Ingresar</button>
  </form>

</body>