<div class="container mt-5">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card bg-light mb-3" >
            <div class="card-header h4">Seleccionar asignatura</div>
          
          <div class="card-body">      
            <button class="btn btn-primary mb-2" (click)="volver()">Volver</button>
          <table class="table table-responsive-xl">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo del docente</th>      
                  <th scope="col">Acciones</th>
                </tr>
              <tbody>
                <tr *ngFor="let asignatura of asignaturas; index as i">
                  
                  <td>{{asignatura.codigo}}</td>
                  <td>{{asignatura.nombre}}</td>
                  <td>{{asignatura.correoDoc}}</td>
 
                  <!--<div class="btn-group dropright">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editar Estado
                      </button>
                      <div class="dropdown-menu">
                        <button>hola</button>
                      </div>
                  </div>-->

                  <button (click)="nuevoEstado(asignatura.id,'Cursando')">Cursando</button>
                  <button (click)="nuevoEstado(asignatura.id,'Exámen')">Exámen</button>
                  <button (click)="nuevoEstado(asignatura.id,'Exonerada')">Exonerada</button>


              </tbody>
              </table>
            

        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
</div>