<body class="center">
  <form [formGroup]="profileForm" (ngSubmit)="login()" class="mt-1">
    <h2 class="mb-3 font-weight-normal">Por favor Inicia Sesion</h2> 
    <div class="form-group">
      <input type="text" class="form-control" formControlName="cedula" placeholder="Cédula (sin puntos ni guiones)" maxlength="8">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
    </div>
    <div class="form-group text-center">
      <div *ngIf="datosMal">
        <p class="text-danger">Contraseña o cédula incorrecta</p>
      </div>
    <button class="btn btn-lg btn-primary" type="submit" [disabled]="!profileForm.valid">Ingresar</button>
  </div>
  
  </form>
  

</body>