<div class="container mt-5">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm">
      <div class="card bg-light mb-3" >
          <div class="card-header h4">Lista De Usuarios</div>
          <div class="card-body">      
            
            <!--<button class="btn btn-primary mb-2" (click)="goBack()">Volver</button>-->
            <table class="table table-responsive-xl">
              <thead >
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  
                  <td>{{usuario.nombre}} {{usuario.apellido}}
                  </td>
                  <td>{{usuario.cedula}}</td>
                  <td><button class="btn btn-danger" (click)="borrarUsuario(usuario.id)">Borrar</button></td>
                </tr>
              </tbody>
              </table>
           
            



          </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


