<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title h3">
              Agregar Evaluacion            
            </div>
            <div class="container">
              <div class="d-flex justify-content-center">
                <div class="col-5">
                    <form [formGroup]="profileForm" (ngSubmit)="addEvaluacion()" class="mt-1">
                      <label>Nombre:</label>
                    <input formControlName="nombre"  class="form-control" type="text"   placeholder="Nombre" ><br>

                    <label>Tipo:</label>
                    <select formControlName="tipo" class="mb-2 form-control custom-select" (change)="select($event.target.value)">
                      <option value="Parcial">Parcial</option>
                      <option value="Examen">Examen</option>
                      <option value="Laboratorio">Laboratorio</option>         
                    </select>

                    <br>
                    <label>Fecha:</label>
                    <input formControlName="fecha"  class="form-control" type="date" ><br>


                    <div *ngIf="creandoLab">
                        <label>Fecha Entrega:</label>
                        <input formControlName="fechaEntrega" class="form-control" type="date"><br>
                        <label>Fecha Defensa:</label>
                        <input formControlName="fechaDefensa" class="form-control" type="date"><br> 
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary float-left" (click)="cancelar()" > Cancelar</button> 

                    <button class=" btn btn-primary float-right" type="submit" [disabled]="!profileForm.valid"> Guardar</button> 
                  </form>
                
              </div>
            </div>
            
            
  
          </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  
  
  