<div class="container mt-5">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm">
        <div class="card bg-light mb-3">
            <div class="card-header h4">Horarios de {{asignatura.nombre}}</div>
            <div class="card-body">
              <button type="button" class="btn btn-primary mb-2 mr-2" (click)="volver()">Volver</button>
              <button type="button" class="btn btn-primary mb-2" (click)="nuevoHorario()">Nuevo</button>       
              <div class="container mb-2">
            
              <table class="table table-responsive-xl">
                <thead >
                  <tr>
                    <th scope="col">Dia</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hasta</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let horario of horarios; index as i">
                    
                    <td>{{horario.dia}}</td>
                    <td> {{horario.horaDesde}}</td>
                    <td> {{horario.horaHasta}}</td>
                    <td><button type="button" class="btn btn-warning mr-3" (click)="editarHorario(horario)">Editar</button>
                      <button type="button" class="btn btn-danger" (click)="eliminarHorario(horario.id,i)">Borrar</button></td>
                  </tr>
                </tbody>
                </table>
              <div>
                  
                 
                </div> 
            </div>
            </div>
          </div>
      </div>
      <div class="col-sm-1">
      </div>
  </div>