<div class="text-center mx-5 px-5">
    <h2 class="font-weight-bold mt-5">Bienvenido al ChatBot! del TIP</h2>
    <div *ngIf="!islogin()">
        <div class="d-flex justify-content-center pt-4">
        <div class="card cuadrado col-3">
        <app-login></app-login>
        <h6>No tienes cuenta?</h6>
        <a href="/chat">Ingresar como invitado</a>
        <a href="/register" class="ml-2">Registrarse</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2020 Tecnólogo en Informatica</p>
    </div>
</div>
    </div>
    <div *ngIf="islogin()">
       <a href="/chat"> Ir al Chat</a>
    </div>
    </div>