<div class="container mt-5">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card bg-light mb-3" >
            <div class="card-header h4">Lista de preguntas</div>
            <div class="card-body">      
              
              <button class="btn btn-primary mb-2" routerLink="/nuevaPregunta">Nueva pregunta</button>
              <table class="table table-responsive-xl">
                <thead >
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pregunta of listado">
                    <td>{{pregunta.nombre}}</td>
                    <td><button class="btn btn-danger" (click)="borrarPregunta(pregunta.id)">Borrar</button></td>
                  </tr>
                </tbody>
                </table>
             
              
  
  
  
            </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
