<div class="container mt-4">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm">
        <div class="card bg-light mb-3" >
            <div class="card-header h4">Lista de preguntas</div>
            <div class="card-body">      
              
              <button class="btn btn-primary mb-2" routerLink="/nuevaPregunta"><i class="fa fa-plus" aria-hidden="true"></i> Nueva pregunta</button>
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table  table-responsive-xl table-striped table-bordered">
                <thead >
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pregunta of listado">
                    <td>{{pregunta.nombre}}</td>
                    <td><button class="btn btn-danger" (click)="borrarPregunta(pregunta.id)"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button></td>
                  </tr>
                </tbody>
                </table>
             
              
  
  
  
            </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
