<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title h3">
            Registrarse            
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-3"> Cedula: </p>
                <p class="mb-3">Nombre: </p>
                <p class="mb-3">Apellido:</p>
                <p class="mb-3">Contraseña: </p>
                <p class="mb-3">Repetir Contraseña:  </p>
                <button class="mt-2 btn btn-primary" (click)="cancelar()" > Cancelar</button> 
              </div>
              
              <div class="col-sm">
                <form [formGroup]="profileForm" (ngSubmit)="addUser()" class="mt-1">
                  <input formControlName="cedula"  type="number"   placeholder="Insertar Cedula" class="mb-2"><br>
                  <input formControlName="nombre"  type="text"placeholder="Insertar Nombre" class="mb-2"><br>
                  <input formControlName="apellido" type="text"  placeholder="Insertar Apellido" class="mb-2"><br>
                  <input formControlName="password" type="password" placeholder="Insertar Contraseña" class="mb-2"><br>
                  <input formControlName="repassword" type="password"  placeholder="Repetir Contraseña" class="mb-2">  <br>   
      
                  <br>
                  <button class=" btn btn-primary" type="submit" [disabled]="!profileForm.valid"> Guardar</button> 
                </form>
              </div>
            </div>
          </div>
          
          

        </div>
    </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


