<div class="card mt-4">
    <div class="card-body">
      <div class="card-title ">
        Inserta un nuevo Usuario            
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="cedula" name="" id="" placeholder="Insertar Cedula" class="form-control mb-2">
        <input type="text" [(ngModel)]="nombre" name="" id="" placeholder="Insertar Nombre" class="form-control mb-2">
        <input type="text" [(ngModel)]="apellido" name="" id="" placeholder="Insertar Apellido" class="form-control mb-2">
        <input type="password" [(ngModel)]="password" name="" id="" placeholder="Insertar Contraseña" class="form-control mb-2">
        <input type="password" name="" id="" placeholder="Repetir Contraseña" class="form-control mb-2">     
      </div>
      <button class=" btn btn-primary mr-2" (click)="addUser()"> Guardar</button> 
    </div>
  </div>
